@import "variables";
@import "sidebarTransitions";
@import "layout";

* {
  box-sizing: border-box;
}

///global
.hide {
  display: none;
}

.active {
  display: block;
}

.wrapper {
  box-shadow: 0 0 10px rgb(218, 218, 218);
  width: 100%;
  height: 100%;
  background: #fff;
}

h2 {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.margin-left {
  margin: 77px 17px 17px calc(187px + 17px);
}

.title {
  line-height: 40px;
  border-bottom: $color-background 1.5px solid;

  h1 {
    font-size: 20px;
    font-weight: 400;
    padding: 0 0 0 15px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  font-family: $font-one;
  font-weight: 500;
  background: $color-background;
  color: $font-color-one;
  box-sizing: border-box;
}

// TOP NAVI

.nav-top {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  height: $top-nav-height;
  max-height: $top-nav-height;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  border: solid 1px $color-light;
  background-color: #fff;

  .box {
    line-height: $top-nav-height;
    max-height: $top-nav-height;
    padding: 0 20px;
    display: flex;
    color: $font-color-one;
    border-left: solid 1px $color-light;
    align-items: center;
    cursor: pointer;

    &:hover{
      background-color: $color-light;
    }

    i {
      font-size: 16px;
    }

    p {
      padding: 10px;
    }

    .wallet__amount {
      p {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

}

/// nav-left

.nav-left {
  min-width: 187px;
  width: 187px;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-darker;
  line-height: $top-nav-height;

  .nav-left__logo {
    color: white;
    font-size: 25px;
    max-height: $top-nav-height;
    padding: 5px 15px;
    display: inline;
    cursor: pointer;
  }

  .button-menu {
    display: inline;
    color: $font-color-one;
    font-size: 20px;
    float: right;
    padding: 0 15px;
    cursor: pointer;
  }

  .nav-left__account {
    border-top: $font-color-one 1px solid;

    li:first-child {
      padding-top: 20px;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .flex-nav {
      display: flex;
      line-height: 14px;
    }
  }

  .nav-left__menu {
    border-bottom: $font-color-one 1px solid;
    
    ul {
      list-style: none;
      color: $font-color-one;
      font-weight: 300;
      line-height: 40px;
      padding: 0 0 20px 0;
      margin: 0;

      i {
        padding: 0 10px 0 20px;
      }

      li {
        position: relative;

        .bar {
          background-color: orange;
          width: 4px;
          height: 40px;
          left: 0;
          display: none;
          margin: 0;
          padding: 0;
          position: absolute;
        }
      }
    }

    li:hover {
      background-color: $color-dark;
      color: white;
      cursor: pointer;

      .bar {
        display: inline-block;
      }
    }
  }

  .nav-left__team {
    ul {
      list-style: none;
      color: $font-color-one;
      font-weight: 500;
      line-height: 40px;
      padding: 15px 0;
      margin: 0 20px;
      font-size: 14px;

      li {
        .photo {
          position: relative;
          display: flex;
          align-items: center;

          .dot {
            width: 10px;
            height: 10px;
            background-color: rgb(0, 148, 0);
            position: absolute;
            border-radius: 50%;
            z-index: 2;
            left: 36px;
            top: 5px;
          }

          .name {
            font-weight: 200;
            color: #8ab8db;
            padding: 0 10px;
          }
        }

        img {
          height: 44px;
          width: 44px;
          border-radius: 50%;
          margin: 3px 0;
          z-index: 1;
          object-fit: cover;
        }
      }
    }
  }
}

/// GENERAL SECTION

.general {
  .title h1 {
    padding-top: 0.83em;
  }

  .data-picker {
    height: 100px;
  }

  .stats {
    min-height: 110px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;

    .duo {
      display: flex;
      justify-content: center;
      flex-flow: row nowrap;
      width: 100%;

      .stat {
        width: 300px;
        margin: 10px 20px;
        justify-content: space-between;
        display: flex;
        border-bottom: $color-background 1.5px solid;

        h2 {
          display: inline-block;
        }

        span {
          color: black;
          font-weight: 300;
        }
      }
    }
  }

  .graph{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    margin: auto;
    padding: 0 50px;

    img {
      width: 100%;
      height: auto;
    }

    h2 {
      padding: 20px 0 30px 0;
    }
  }
}


/// links section

.links {
  display: flex;

  .button {
    display: flex;
    justify-content: center;
    padding: 20px;

    button {
      height: 40px;
      width: 120px;
      color: white;
      background-color: #ff9a38;
      border: none;
      font-size: 16px;
      border-radius: 3px;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #e97d12;
      }
    }
  }

  .list {
    ul{
      list-style: none;
      display: flex;
      flex-flow: column;
      margin: auto;
      justify-content: center;
      max-width: 680px;
      padding: 0 50px;

      li {
        display: flex;
        justify-content: space-between;
        border-bottom: $color-background 1.5px solid;
        border-top: $color-background 1.5px solid;
        padding: 10px 20px;

        div {
          width: 50%;
          display: flex;
        }

        a.link {
          float: left;
          text-decoration: none;
          font-weight: 100;
        }

        .icons {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          opacity: 0;
          color: rgb(190, 190, 190);

          i {
            padding: 0 10px;
            cursor: pointer;

            &:hover {
              color: rgb(136, 136, 136);
            }
          }
        }

        &:hover {
          background-color: rgb(235, 235, 235);

          .icons {
            opacity: 1;
          }
        }
      }
    }
  }
}

//// MEDIA

@media (min-width: 768px) {
  .nav-left__account {
    display: none;
  }

  .mobile__nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-left {
    width: 100%;
    margin-top: 65px;
    display: none;
    padding-top: 15px;
    overflow: scroll;

    .nav-left__logo, .button-menu {
      display: none;
    }

    .nav-left__account {
      display: block;
    }
  }

  .nav-top {
    display: none;
  }

  .margin-left {
    margin: 0;
    margin-top: $top-nav-height;
  }

  .mobile__nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    max-height: $top-nav-height;
    box-shadow: 0 0 10px rgb(218, 218, 218);
    background-color: #fff;
    line-height: 50px;
    color: #000;
  }
  
  .mobile__logo {
    font-size: 25px;
    padding: 0 15px;
  }

  .mobile__btn {
    font-size: 25px;
    margin: 0 25px;
  }

  .active {
    display: block;
  }
}

//// modal 

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;

  overflow: auto;
  padding: 30px;

  display: none;
}

.overlay.show {
  display: flex;
}

.overlay::webkit-scrollbar {
  display: none;
}

.modal {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 30px;
  display: none;
}

.modal.show {
  display: block;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  cursor: pointer;
}